@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";

    ViewBag.Title = "Опис";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="margin-top:25px;">
        Мета: дати сту­ден­там цілісне уявлення про специфіку філософського знання, особ­­­ливості вирішення філософією проблем, які хвилювали і про­дов­жують хвилювати людство, розкрити творчу роль філосо­фії в сучасній куль­турі, обгрунтувати необхідність засвоєння філо­соф­ського знання.<br><br>
        Завдання: <br>
        1.допомогти студентам скласти чітке уяв­лення про філософію і її мову, засоби і методи, поняття і кате­горії, про історію філософської думки та її сучасні проблеми, що дозволить їм самим орієнтуватися у всьому цьому багатоманітні.<br>

        2. освоєння студентами фі­лософ­ської україністики, аналіз національно-специфічної світо­глядної культу­ри України в контексті світового філософського процесу.<br><br>

        В результаті вивчення даного курсу студент повинен:<br><br>

        знати: знати основні теоретичні положення, важливі вузлові проблеми усіх
        тем програми; визначення фундаментальних філософських категорій зі сфер
        онтології, антропології,персоналізму,гносеології та епістемології, аксіології, філософії культури,орієнтуватися в першоджерелах, основній
        сучасній філософській літературі і філософській україністиці.<br><br>

        вміти: поєднувати набуті знання як природничі так і гуманітарні в цілісний образ світу, застосовувати набувані знання для аналізу сучасних проблем і виформування власної позиції в їх вирішенні.

    </div>
</body>
</html>
