@model Entities.Students

@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    ViewBag.Title = "Редагування поштової скриньки";
}

<h2>Редагування поштової скриньки</h2>
@using (Html.BeginForm("EditEMail", "Student", FormMethod.Post, new { onsubmit = "return validateForm()" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.Label("New EMail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="email" id="newEMail" name="newEMail" class="form-control"/>
                <div class="text-danger">@ViewBag.ChangePassValidate</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Змінити" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Come back", "MyProfile")
</div>
