packages/
Jobs/bin/
.hgignore
Jobs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Jobs/obj/Debug/LNU.Courses.Jobs.csprojResolveAssemblyReference.cache
Jobs/obj/Debug/LNU.Courses.Jobs.dll
Jobs/obj/Debug/LNU.Courses.Jobs.pdb
LNU.Courses.BLL/bin/Debug/Autofac.Integration.Mvc.dll
LNU.Courses.BLL/bin/Debug/Autofac.dll
LNU.Courses.BLL/bin/Debug/Entities.dll
LNU.Courses.BLL/bin/Debug/Entities.pdb
LNU.Courses.BLL/bin/Debug/EntityFramework.dll
LNU.Courses.BLL/bin/Debug/LNU.Courses.BLL.dll
LNU.Courses.BLL/bin/Debug/LNU.Courses.BLL.pdb
LNU.Courses.BLL/bin/Debug/LNU.Courses.Repositories.dll
LNU.Courses.BLL/bin/Debug/LNU.Courses.Repositories.pdb
LNU.Courses.BLL/bin/Debug/Microsoft.Web.Infrastructure.dll
LNU.Courses.BLL/bin/Debug/System.Web.Helpers.dll
LNU.Courses.BLL/bin/Debug/System.Web.Mvc.dll
LNU.Courses.BLL/bin/Debug/System.Web.Razor.dll
LNU.Courses.BLL/bin/Debug/System.Web.WebPages.Deployment.dll
LNU.Courses.BLL/bin/Debug/System.Web.WebPages.Razor.dll
LNU.Courses.BLL/bin/Debug/System.Web.WebPages.dll
LNU.Courses.BLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LNU.Courses.BLL/obj/Debug/LNU.Courses.BLL.csprojResolveAssemblyReference.cache
LNU.Courses.BLL/obj/Debug/LNU.Courses.BLL.dll
LNU.Courses.BLL/obj/Debug/LNU.Courses.BLL.pdb
LNU.Courses.Repositories/bin/Debug/Autofac.Integration.Mvc.dll
LNU.Courses.Repositories/bin/Debug/Autofac.dll
LNU.Courses.Repositories/bin/Debug/Entities.dll
LNU.Courses.Repositories/bin/Debug/Entities.pdb
LNU.Courses.Repositories/bin/Debug/EntityFramework.SqlServer.dll
LNU.Courses.Repositories/bin/Debug/EntityFramework.dll
LNU.Courses.Repositories/bin/Debug/LNU.Courses.Repositories.dll
LNU.Courses.Repositories/bin/Debug/LNU.Courses.Repositories.pdb
LNU.Courses.Repositories/bin/Debug/Microsoft.Web.Infrastructure.dll
LNU.Courses.Repositories/bin/Debug/System.Web.Helpers.dll
LNU.Courses.Repositories/bin/Debug/System.Web.Mvc.dll
LNU.Courses.Repositories/bin/Debug/System.Web.Razor.dll
LNU.Courses.Repositories/bin/Debug/System.Web.WebPages.Deployment.dll
LNU.Courses.Repositories/bin/Debug/System.Web.WebPages.Razor.dll
LNU.Courses.Repositories/bin/Debug/System.Web.WebPages.dll
LNU.Courses.Repositories/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LNU.Courses.Repositories/obj/Debug/LNU.Courses.Repositories.csprojResolveAssemblyReference.cache
LNU.Courses.Repositories/obj/Debug/LNU.Courses.Repositories.dll
LNU.Courses.Repositories/obj/Debug/LNU.Courses.Repositories.pdb
LNU.Courses.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LNU.Courses.WebUI/bin/ActionMailer.Net.Mvc.dll
LNU.Courses.WebUI/bin/ActionMailer.Net.Mvc.pdb
LNU.Courses.WebUI/bin/ActionMailer.Net.dll
LNU.Courses.WebUI/bin/ActionMailer.Net.pdb
LNU.Courses.WebUI/bin/Antlr3.Runtime.dll
LNU.Courses.WebUI/bin/Antlr3.Runtime.pdb
LNU.Courses.WebUI/bin/Autofac.Integration.Mvc.dll
LNU.Courses.WebUI/bin/Autofac.dll
LNU.Courses.WebUI/bin/Common.Logging.Core.dll
LNU.Courses.WebUI/bin/Common.Logging.Core.pdb
LNU.Courses.WebUI/bin/Common.Logging.dll
LNU.Courses.WebUI/bin/Common.Logging.pdb
LNU.Courses.WebUI/bin/Entities.dll
LNU.Courses.WebUI/bin/Entities.pdb
LNU.Courses.WebUI/bin/EntityFramework.SqlServer.dll
LNU.Courses.WebUI/bin/EntityFramework.dll
LNU.Courses.WebUI/bin/EnvDTE.dll
LNU.Courses.WebUI/bin/EnvDTE80.dll
LNU.Courses.WebUI/bin/LNU.Courses.BLL.dll
LNU.Courses.WebUI/bin/LNU.Courses.BLL.pdb
LNU.Courses.WebUI/bin/LNU.Courses.Jobs.dll
LNU.Courses.WebUI/bin/LNU.Courses.Jobs.pdb
LNU.Courses.WebUI/bin/LNU.Courses.PeriodicalJobMaker.dll
LNU.Courses.WebUI/bin/LNU.Courses.PeriodicalJobMaker.pdb
LNU.Courses.WebUI/bin/LNU.Courses.Repositories.dll
LNU.Courses.WebUI/bin/LNU.Courses.Repositories.pdb
LNU.Courses.WebUI/bin/LNU.Courses.dll
LNU.Courses.WebUI/bin/LNU.Courses.pdb
LNU.Courses.WebUI/bin/Microsoft.AI.Agent.Intercept.dll
LNU.Courses.WebUI/bin/Microsoft.AI.DependencyCollector.dll
LNU.Courses.WebUI/bin/Microsoft.AI.PerfCounterCollector.dll
LNU.Courses.WebUI/bin/Microsoft.AI.ServerTelemetryChannel.dll
LNU.Courses.WebUI/bin/Microsoft.AI.Web.dll
LNU.Courses.WebUI/bin/Microsoft.AI.WindowsServer.dll
LNU.Courses.WebUI/bin/Microsoft.ApplicationInsights.dll
LNU.Courses.WebUI/bin/Microsoft.AspNet.Identity.Core.dll
LNU.Courses.WebUI/bin/Microsoft.AspNet.Identity.EntityFramework.dll
LNU.Courses.WebUI/bin/Microsoft.AspNet.Scaffolding.12.0.dll
LNU.Courses.WebUI/bin/Microsoft.AspNet.Scaffolding.EntityFramework.12.0.dll
LNU.Courses.WebUI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
LNU.Courses.WebUI/bin/Microsoft.Owin.Host.SystemWeb.dll
LNU.Courses.WebUI/bin/Microsoft.Owin.dll
LNU.Courses.WebUI/bin/Microsoft.VisualStudio.OLE.Interop.dll
LNU.Courses.WebUI/bin/Microsoft.VisualStudio.Shell.Interop.dll
LNU.Courses.WebUI/bin/Microsoft.VisualStudio.TextManager.Interop.dll
LNU.Courses.WebUI/bin/Microsoft.VisualStudio.TextTemplating.Interfaces.10.0.dll
LNU.Courses.WebUI/bin/Microsoft.VisualStudio.TextTemplating.Interfaces.11.0.dll
LNU.Courses.WebUI/bin/Microsoft.Web.Infrastructure.dll
LNU.Courses.WebUI/bin/Newtonsoft.Json.dll
LNU.Courses.WebUI/bin/Owin.dll
LNU.Courses.WebUI/bin/Quartz.dll
LNU.Courses.WebUI/bin/Quartz.pdb
LNU.Courses.WebUI/bin/System.Web.Helpers.dll
LNU.Courses.WebUI/bin/System.Web.Mvc.dll
LNU.Courses.WebUI/bin/System.Web.Optimization.dll
LNU.Courses.WebUI/bin/System.Web.Razor.dll
LNU.Courses.WebUI/bin/System.Web.WebPages.Deployment.dll
LNU.Courses.WebUI/bin/System.Web.WebPages.Razor.dll
LNU.Courses.WebUI/bin/System.Web.WebPages.dll
LNU.Courses.WebUI/bin/WebGrease.dll
LNU.Courses.WebUI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
LNU.Courses.WebUI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
LNU.Courses.WebUI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
LNU.Courses.WebUI/bin/roslyn/Microsoft.CodeAnalysis.dll
LNU.Courses.WebUI/bin/roslyn/System.Collections.Immutable.dll
LNU.Courses.WebUI/bin/roslyn/System.Reflection.Metadata.dll
LNU.Courses.WebUI/bin/roslyn/VBCSCompiler.exe
LNU.Courses.WebUI/bin/roslyn/csc.exe
LNU.Courses.WebUI/bin/roslyn/vbc.exe
LNU.Courses.WebUI/bin/stdole.dll
LNU.Courses.WebUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LNU.Courses.WebUI/obj/Debug/LNU.Courses.WebUI.csproj.FileListAbsolute.txt
LNU.Courses.WebUI/obj/Debug/LNU.Courses.WebUI.csprojResolveAssemblyReference.cache
LNU.Courses.WebUI/obj/Debug/LNU.Courses.dll
LNU.Courses.WebUI/obj/Debug/LNU.Courses.pdb
LNU.Courses.WebUI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LNU.Courses.WebUI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LNU.Courses.WebUI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LNU.Entities/bin/Debug/Autofac.Integration.Mvc.dll
LNU.Entities/bin/Debug/Autofac.dll
LNU.Entities/bin/Debug/Entities.dll
LNU.Entities/bin/Debug/Entities.pdb
LNU.Entities/bin/Debug/EntityFramework.SqlServer.dll
LNU.Entities/bin/Debug/EntityFramework.dll
LNU.Entities/bin/Debug/Microsoft.Web.Infrastructure.dll
LNU.Entities/bin/Debug/System.Web.Helpers.dll
LNU.Entities/bin/Debug/System.Web.Mvc.dll
LNU.Entities/bin/Debug/System.Web.Razor.dll
LNU.Entities/bin/Debug/System.Web.WebPages.Deployment.dll
LNU.Entities/bin/Debug/System.Web.WebPages.Razor.dll
LNU.Entities/bin/Debug/System.Web.WebPages.dll
LNU.Entities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LNU.Entities/obj/Debug/Entities.csprojResolveAssemblyReference.cache
LNU.Entities/obj/Debug/Entities.dll
LNU.Entities/obj/Debug/Entities.pdb
PeriodicalJobMaker/bin/Debug/Autofac.Integration.Mvc.dll
PeriodicalJobMaker/bin/Debug/Autofac.dll
PeriodicalJobMaker/bin/Debug/Common.Logging.Core.dll
PeriodicalJobMaker/bin/Debug/Common.Logging.Core.pdb
PeriodicalJobMaker/bin/Debug/Common.Logging.dll
PeriodicalJobMaker/bin/Debug/Common.Logging.pdb
PeriodicalJobMaker/bin/Debug/LNU.Courses.PeriodicalJobMaker.dll
PeriodicalJobMaker/bin/Debug/LNU.Courses.PeriodicalJobMaker.pdb
PeriodicalJobMaker/bin/Debug/Microsoft.Web.Infrastructure.dll
PeriodicalJobMaker/bin/Debug/Quartz.dll
PeriodicalJobMaker/bin/Debug/Quartz.pdb
PeriodicalJobMaker/bin/Debug/System.Web.Helpers.dll
PeriodicalJobMaker/bin/Debug/System.Web.Mvc.dll
PeriodicalJobMaker/bin/Debug/System.Web.Razor.dll
PeriodicalJobMaker/bin/Debug/System.Web.WebPages.Deployment.dll
PeriodicalJobMaker/bin/Debug/System.Web.WebPages.Razor.dll
PeriodicalJobMaker/bin/Debug/System.Web.WebPages.dll
PeriodicalJobMaker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PeriodicalJobMaker/obj/Debug/LNU.Courses.PeriodicalJobMaker.csprojResolveAssemblyReference.cache
PeriodicalJobMaker/obj/Debug/LNU.Courses.PeriodicalJobMaker.dll
PeriodicalJobMaker/obj/Debug/LNU.Courses.PeriodicalJobMaker.pdb
.vs/
LNU.Courses.WebUI/obj/
Jobs/obj/Debug/build.force
Jobs/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Jobs/obj/Release/LNU.Courses.Jobs.csprojResolveAssemblyReference.cache
Jobs/obj/Release/LNU.Courses.Jobs.dll
Jobs/obj/Release/LNU.Courses.Jobs.pdb
LNU.Courses.BLL/bin/Release/Autofac.Integration.Mvc.dll
LNU.Courses.BLL/bin/Release/Autofac.dll
LNU.Courses.BLL/bin/Release/Entities.dll
LNU.Courses.BLL/bin/Release/Entities.pdb
LNU.Courses.BLL/bin/Release/EntityFramework.dll
LNU.Courses.BLL/bin/Release/LNU.Courses.BLL.dll
LNU.Courses.BLL/bin/Release/LNU.Courses.BLL.pdb
LNU.Courses.BLL/bin/Release/LNU.Courses.Repositories.dll
LNU.Courses.BLL/bin/Release/LNU.Courses.Repositories.pdb
LNU.Courses.BLL/bin/Release/Microsoft.Web.Infrastructure.dll
LNU.Courses.BLL/bin/Release/System.Web.Helpers.dll
LNU.Courses.BLL/bin/Release/System.Web.Mvc.dll
LNU.Courses.BLL/bin/Release/System.Web.Razor.dll
LNU.Courses.BLL/bin/Release/System.Web.WebPages.Deployment.dll
LNU.Courses.BLL/bin/Release/System.Web.WebPages.Razor.dll
LNU.Courses.BLL/bin/Release/System.Web.WebPages.dll
LNU.Courses.BLL/obj/Debug/build.force
LNU.Courses.BLL/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LNU.Courses.BLL/obj/Release/LNU.Courses.BLL.csprojResolveAssemblyReference.cache
LNU.Courses.BLL/obj/Release/LNU.Courses.BLL.dll
LNU.Courses.BLL/obj/Release/LNU.Courses.BLL.pdb
LNU.Courses.Repositories/bin/Release/Autofac.Integration.Mvc.dll
LNU.Courses.Repositories/bin/Release/Autofac.dll
LNU.Courses.Repositories/bin/Release/Entities.dll
LNU.Courses.Repositories/bin/Release/Entities.pdb
LNU.Courses.Repositories/bin/Release/EntityFramework.SqlServer.dll
LNU.Courses.Repositories/bin/Release/EntityFramework.dll
LNU.Courses.Repositories/bin/Release/LNU.Courses.Repositories.dll
LNU.Courses.Repositories/bin/Release/LNU.Courses.Repositories.pdb
LNU.Courses.Repositories/bin/Release/Microsoft.Web.Infrastructure.dll
LNU.Courses.Repositories/bin/Release/System.Web.Helpers.dll
LNU.Courses.Repositories/bin/Release/System.Web.Mvc.dll
LNU.Courses.Repositories/bin/Release/System.Web.Razor.dll
LNU.Courses.Repositories/bin/Release/System.Web.WebPages.Deployment.dll
LNU.Courses.Repositories/bin/Release/System.Web.WebPages.Razor.dll
LNU.Courses.Repositories/bin/Release/System.Web.WebPages.dll
LNU.Courses.Repositories/obj/Debug/build.force
LNU.Courses.Repositories/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LNU.Courses.Repositories/obj/Release/LNU.Courses.Repositories.csprojResolveAssemblyReference.cache
LNU.Courses.Repositories/obj/Release/LNU.Courses.Repositories.dll
LNU.Courses.Repositories/obj/Release/LNU.Courses.Repositories.pdb
LNU.Courses.Tests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LNU.Courses.WebUI/LNU.Courses.WebUI.csproj.user
LNU.Courses.WebUI/Properties/PublishProfiles/Courses.pubxml
LNU.Courses.WebUI/Properties/PublishProfiles/Courses.pubxml.user
LNU.Courses.WebUI/Properties/PublishProfiles/andrew.pubxml.user
LNU.Entities/bin/Release/Autofac.Integration.Mvc.dll
LNU.Entities/bin/Release/Autofac.dll
LNU.Entities/bin/Release/Entities.dll
LNU.Entities/bin/Release/Entities.pdb
LNU.Entities/bin/Release/EntityFramework.SqlServer.dll
LNU.Entities/bin/Release/EntityFramework.dll
LNU.Entities/bin/Release/Microsoft.Web.Infrastructure.dll
LNU.Entities/bin/Release/System.Web.Helpers.dll
LNU.Entities/bin/Release/System.Web.Mvc.dll
LNU.Entities/bin/Release/System.Web.Razor.dll
LNU.Entities/bin/Release/System.Web.WebPages.Deployment.dll
LNU.Entities/bin/Release/System.Web.WebPages.Razor.dll
LNU.Entities/bin/Release/System.Web.WebPages.dll
LNU.Entities/obj/Debug/TempPE/CoursesDataModel.Designer.cs.dll
LNU.Entities/obj/Debug/TempPE/CoursesDataModel.cs.dll
LNU.Entities/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
LNU.Entities/obj/Release/Entities.csprojResolveAssemblyReference.cache
LNU.Entities/obj/Release/Entities.dll
LNU.Entities/obj/Release/Entities.pdb
LNU.Entities/obj/Release/TempPE/CoursesDataModel.Designer.cs.dll
LNU.Entities/obj/Release/TempPE/CoursesDataModel.cs.dll
PeriodicalJobMaker/bin/Release/Autofac.Integration.Mvc.dll
PeriodicalJobMaker/bin/Release/Autofac.dll
PeriodicalJobMaker/bin/Release/Common.Logging.Core.dll
PeriodicalJobMaker/bin/Release/Common.Logging.Core.pdb
PeriodicalJobMaker/bin/Release/Common.Logging.dll
PeriodicalJobMaker/bin/Release/Common.Logging.pdb
PeriodicalJobMaker/bin/Release/LNU.Courses.PeriodicalJobMaker.dll
PeriodicalJobMaker/bin/Release/LNU.Courses.PeriodicalJobMaker.pdb
PeriodicalJobMaker/bin/Release/Microsoft.Web.Infrastructure.dll
PeriodicalJobMaker/bin/Release/Quartz.dll
PeriodicalJobMaker/bin/Release/Quartz.pdb
PeriodicalJobMaker/bin/Release/System.Web.Helpers.dll
PeriodicalJobMaker/bin/Release/System.Web.Mvc.dll
PeriodicalJobMaker/bin/Release/System.Web.Razor.dll
PeriodicalJobMaker/bin/Release/System.Web.WebPages.Deployment.dll
PeriodicalJobMaker/bin/Release/System.Web.WebPages.Razor.dll
PeriodicalJobMaker/bin/Release/System.Web.WebPages.dll
PeriodicalJobMaker/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
PeriodicalJobMaker/obj/Release/LNU.Courses.PeriodicalJobMaker.csprojResolveAssemblyReference.cache
PeriodicalJobMaker/obj/Release/LNU.Courses.PeriodicalJobMaker.dll
PeriodicalJobMaker/obj/Release/LNU.Courses.PeriodicalJobMaker.pdb
LNU.Courses.Tests/bin/
LNU.Courses.Tests/obj/Debug/LNU.Courses.Tests.csprojResolveAssemblyReference.cache
LNU.Courses.Tests/obj/Debug/LNU.Courses.Tests.dll
LNU.Courses.Tests/obj/Debug/LNU.Courses.Tests.pdb
LNU.Courses.WebUI/Properties/PublishProfiles/kk.pubxml
LNU.Courses.WebUI/Properties/PublishProfiles/kk.pubxml.user
