@using System.Collections.Generic
@using System.Linq
@model System.Collections.Generic.IEnumerable<Entities.Administrators>
@{
    string supAdmRole = "SuperAdmin";
    var temp = Session["Roles"];
    List<string> roles = ((string[])temp).ToList();
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Логін")
        </th>
        <th>
            @Html.DisplayName("Роль")
        </th>
        <th></th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roles)
            </td>
            <td>


                @{
                    string editLink = "EditAdmin?login=" + item.login;
                    string deleteLink = "DeleteAdmin?login=" + item.login;
                }
                @if (item.roles != "SuperAdmin")
                {
                    if (roles.Contains(supAdmRole))
                    {
                        <a class="btn-link" href="/Admin/@editLink" id="edit"> Змінити </a>
                    }
                }
                
            </td>
            <td>
                @if (item.roles != "SuperAdmin")
                {
                    if (roles.Contains(supAdmRole))
                     {
                         <a class="btn-link" href="/Admin/@deleteLink" id="delete"> Видалити</a>
                     }
                }
            </td>
        </tr>
}

</table>
