<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CoursesDataModel" connectionString="metadata=res://*/CoursesDataModel.csdl|res://*/CoursesDataModel.ssdl|res://*/CoursesDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=homepc\sqlexpress;initial catalog=TestCourseOfChoice;persist security info=True;user id=Courses;password=aaaAAA123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>